* {
    box-sizing: border-box;
  }

  html {
   background: url("./images/hp2.png") no-repeat bottom 89% right 69%; 
  }
  
  body {
    font-family: fantasy, sans-serif;
    color: white;
  }
  
  header {
    padding: 50px 0 0 0;
    color: white;
  }
  
  h1 {
    text-align: center;
  }

  .QandA {
    font-weight: 600;
    font-size: 1.3em;
  }

  main {
    width: 60%;
    margin: 0 auto;
    text-align: left;
  }

  h3 {
    font-size: 1.4em;
  }

  li, ul, p, .question {
    list-style: none;
    font-size: 1.1em;
  }

  .question {
    font-size: 1.4em;
  }


  .correct, .incorrect {
    font-size: 1.7em;
  }