* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Arial", sans-serif;
    color: black;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  header {
    padding: 50px 0 0 0;
    color: rgb(41, 29, 29);
  }
  
  h1 {
    text-align: center;
  }